.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-container {
  background: lightgoldenrodyellow;
}
form {
  margin: 2% 0% 1% 0%;
  padding: 2%;
  background: lightgoldenrodyellow;
  border-radius: 15px;
  box-shadow: 1px 1px 2px black;

  label {
    padding-right: 20px;
  }
}

.card {
  background-color: lightsteelblue;
  font-family: 'Roboto', sans-serif;
  border: 1px solid gray;
  margin: 0.5%;
  width: 25%;
  box-shadow: 2px 2px 4px black;

  &:hover {
    background-color: dodgerblue;
  }
}
